body {
    /*background-image: url('../img/bg.png');*/
}

body * {
    font-family: 'Ubuntu', sans-serif;
}

div {
    /*border: 1px solid black;  para maquetacion*/
}

.table-header-fix thead {
    display:block;
}
.table-header-fix tbody {
    display:block;
    overflow-y: auto;
    overflow-x: hidden;
    height:300px;
}

.table-col-nombre {
    min-width: 100px;
    max-width: 100px;
}

.table-col-descripcion {
    min-width: 90px;
    max-width: 90px;
}

.table-col-fecha {
    min-width: 145px;
    max-width: 145px;
}

.table-col-precio {
    min-width: 72px;
    max-width: 72px;
}

.table-col-custom {
    min-width: 65px;
    max-width: 65px;
}

.table-col-cuit {
    min-width: 50px;
    max-width: 50px;
}

.table-col-razon {
    min-width: 75px;
    max-width: 75px;
}

.table-col-direccion {
    min-width: 75px;
    max-width: 75px;
}

.table-col-codigo {
    min-width: 75px;
    max-width: 75px;
}

.table-col-tel {
    min-width: 75px;
    max-width: 75px;
}

.table-col-email{
    min-width: 75px;
    max-width: 75px;
}

.table-col-url{
    min-width: 100px;
    max-width: 100px;
}

#integrantes {
    padding-top: 7px;
    padding-right: 7px;
    text-align: right;
}

#materia {
    padding-top: 7px;
    padding-left: 7px;
    text-align: left;
}

#content {
    min-height: 450px;
}

#header {
    color: white;
    background-image: url('../img/lights.jpg');
    background-size: cover;
}

#footer {
    min-height: 75px;
}