body {
    /*background-image: url('../img/bg.png');*/
}

body * {
    font-family: 'Ubuntu', sans-serif;
}

div {
    /*border: 1px solid black;  para maquetacion*/
}

.last-drop-down
{
    top: -70px;
}

.table-container {
    overflow: auto;
}

.modal {
    min-width: 350px !important;
    min-height: 100px !important;
}

.modal-small {
    width: 200px;
    margin-left: -100px;
}

.modal-medium {
    width: 600px;
    margin-left: -300px;
}

.modal-large {
    top: 20px !important;
    width: 900px;
    margin-left: -450px;
}

.modal-extra-large {
    top: 20px !important;
    width: 1200px;
    margin-left: -600px;
}
.dropdown-menu { /* hack para que no se corten por el overflow-x: en los table*/
    left: -120px !important;
}

.table-header-fix thead {
    display:block;
}

.table-header-fix tbody {
    display:block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height:300px;
}

.table-col-nombre {
    min-width: 125px;
    max-width: 125px;
}

.table-col-descripcion {
    min-width: 125px;
    max-width: 125px;
}

.table-col-fecha {
    min-width: 96px;
    max-width: 96px;
}

.table-col-precio {
    min-width: 72px;
    max-width: 72px;
}

.table-col-custom {
    min-width: 65px;
    max-width: 65px;
}

.table-col-cuit {
    min-width: 100px;
    max-width: 100px;
}

.table-col-razon {
    min-width: 175px;
    max-width: 175px;
}

.table-col-direccion {
    min-width: 175px;
    max-width: 175px;
}

.table-col-codigo {
    min-width: 100px;
    max-width: 100px;
}

.table-col-tel {
    min-width: 110px;
    max-width: 110px;
}

.table-col-email{
    min-width: 175px;
    max-width: 175px;
}

.table-col-url{
    min-width: 150px;
    max-width: 150px;
}

#integrantes {
    padding-top: 7px;
    padding-right: 7px;
    text-align: right;
}

#materia {
    padding-top: 7px;
    padding-left: 7px;
    text-align: left;
}

#header {
    color: white;
    background-image: url('../img/lights.jpg');
    background-size: cover;
}

#header {
    max-height: 80px;
}

#footer {
    min-height: 75px;
}