<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TPE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </head>

    <body>

        <a href="#modalForm" role="button" class="btn" data-toggle="modal">Alta Articulo</a>
        <div id="modalForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalForm" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Nuevo Articulo</h3>
            </div>
            <div class="modal-body">
                <form id="form" method="post" class="form-horizontal">
                    <fieldset>
                        <input type="hidden" name="id" value=""/>
                        <input type="hidden" name="id_trabajo" value=""/>

	        <div class="control-group">
	            <label class="control-label" for="proveedor">Proveedor</label>
	            <div class="controls">
		<select id="proveedor" name="proveedor" class="input-xlarge">
		    <option value="1">Phillips</option>
		</select>
	            </div>
	        </div>

                        <div class="control-group">
                            <label class="control-label" for="codigo_interno">Código Interno</label>
                            <div class="controls">
                                <input id="codigo_interno" name="codigo_interno" type="text" placeholder="Ej: ABCD12345" class="input-xlarge" required="">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="codigo_proveedor">Código Catalogo Proveedor</label>
                            <div class="controls">
                                <input id="codigo_proveedor" name="codigo_proveedor" type="text" placeholder="Ej: ABCD12345" class="input-xlarge" required="">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="marca_fabricante">Fabricante</label>
                            <div class="controls">
                                <input id="marca_fabricante" name="marca_fabricante" type="text" placeholder="Ej: Phillips" class="input-xlarge" required="">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="modelo">Modelo</label>
                            <div class="controls">
                                <input id="modelo" name="modelo" type="text" placeholder="Ej: Bañador FX3388" class="input-xlarge" required="">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="descripcion">Descripcion</label>
                            <div class="controls">
                                <textarea id="descripcion" name="descripcion"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="costo_unitario">Costo Unitario</label>
                            <div class="controls">
                                <input type="number" step="any" min="0" id="costo_unitario" required="" name="costo_unitario" value='0.0'>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="cantidad_articulos">Cantidad Articulos</label>
                            <div class="controls">
                                <input type="number" step="1" min="0" id="cantidad_articulos" required="" name="cantidad_articulos" value='0'>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="observasiones">Observasiones</label>
                            <div class="controls">
                                <textarea id="observasiones" name="observasiones"></textarea>
                            </div>
                        </div>

                        <button name="submitBtn" type="submit" class="hide"></button>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="control-group">
                    <button id="cancel" name="cancel" data-dismiss="modal" aria-hidden="true" class="btn btn-danger">Cancelar</button>
                    <button name="reset" class="btn" onclick="document.forms['form'].reset();" >Limpiar</button>
                    <button name="save" class="btn btn-success" onclick="document.forms['form'].submitBtn.click();">Guardar</button>
                </div>
            </div>
        </div>
    </body>
</html>
